.header{
    background-color: rgb(248, 242, 242);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    position: fixed;
    z-index: 100000;
    width: 100%;

}.header>.menu{
    cursor: pointer;
}