
.homePage{
   height: 100vh;
   overflow: scroll;
   background-color: rgb(242, 236, 247);
   position: relative;

}.homePage>img{
  font-size: auto;
  fill: #fff;
}
.addPosts>a{
text-decoration: none;
color: #fff;
font-size: auto;
border-radius: 10px;
}
.wrap{
  position: fixed;
  bottom: 300px;
  right: 10px;
  z-index: 9999;
}.content{
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  z-index: 1;
  padding-top: 120px;
}